<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/headerView.ejs', {title}) %>
    <link href="css/signinup.css" rel="stylesheet" />
</head>

<body>
  <div class="main">
    <div class="left">
      <div class="logo">
        <a href="/">
          <img src="images/favicon.png" alt="Binar Gamehub" />
        </a>
      </div>
      <div class="title">
        <% if(title==="Sign Up" ){ %>
          <h1 class="title__text">Sign up</h1>
          <% } %>
            <% if(title==="Sign In" ){ %>
              <h1 class="title__text">Sign in</h1>
              <% } %>
                <p class="title__subtext">Please, fill up the form below</p>
      </div>

      <%if(title==="Sign In" && error !=="" ){%>
        <div class="alert alert-danger" role="alert">
          <%=error%>
        </div>
        <%}%>

          <% if(title==="Sign Up" ){ %>
            <form action="/signup" method="post">
              <% } %>

                <% if(title==="Sign In" ){ %>
                  <form action="/signin" method="post">
                    <% } %>
                      <% if(title==="Sign Up" ){ %>
                        <input type="text" name="username" placeholder="Username" />
                        <% } %>
                          <input type="email" name="email" placeholder="Email" />
                          <input type="password" name="password" placeholder="Password" />
                          <% if(title==="Sign Up" ){ %>
                            <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                            <% } %>
                              <% if(title==="Sign Up" ){ %>
                                <input type="checkbox" name="isAdmin" value="true" />
                                <p for="isAdmin">is Admin?</p>
                                <button type="submit">Create Account</button>
                                <% } %>
                                  <% if(title==="Sign In" ){ %>
                                    <button type="submit">Sign In</button>
                                    <% } %>
                  </form>
                  <div class="have-account">
                    <p class="have-account__text">
                      <% if(title==="Sign Up" ){ %>
                        Already have an account? <a href="/signin">Login here</a>
                        <% } %>
                          <% if(title==="Sign In" ){ %>
                            Don't have an account? <a href="/signup">Sign up here</a>
                            <% } %>
                    </p>
                  </div>
    </div>
    <div class="right">
      <div class="card-sign">
        <div class="card-sign__left">
          <img src="images/signinup/stick-right.png" alt="gamepad-icon" />
        </div>
        <div class="card-sign__right">
          <h2 class="card-sign__right--text">Most complete collection</h2>
          <p class="card-sign__right--subtext">
            Biggest gamehub on the internet, find your favorite game with the
            best experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
